<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>myTodo</title>
	<link rel="stylesheet" href="css/myTodo.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="page-top">
		<div class="page-content">
			<h2>计划列表</h2>
		</div>
	</div>
	<!-- 内容 -->
	<div class="main">
		<h3 class="big-title">添加任务：</h3>
		<input type="text" class="task-input" v-model="inputValue" v-on:keyup.enter="addTodo">
		<ul class="task-count">
			<li>0个未完成任务</li>
			<li class="action">
				<a href="">所有任务</a>
				<a href="">未完成任务</a>
				<a href="">完成任务</a>
			</li>
		</ul>
		<h3 class="big-title">任务列表：</h3>
		<div class="tasks">
			<span class="no-task-tip">未添加任何项目</span>
			<ul class="todo-list">
				<li class="list" v-for="item in list">
					<div class="view">
						<input type="checkbox" class="toggle" v-model="item.checked">
						<label>{{item.title}}</label>
						<button class="destroy" v-on:click="delectTodo(item)"></button>
					</div>
					<input type="text" class="edit">
				</li>
			</ul>
		</div>
	</div>
	<script src="js/myTodo.js"></script>
</body>
</html>